.input-block{
    position: relative;
}

/* Os inputs blocks após o primeiro receberão este estilo*/
.input-block + .input-block{
    margin-top: 1.4rem;
}

.input-block label{
    font-size: 1.4rem;
}

.input-block input{
    width: 100%;
    position: relative;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem; /* height x width */
    font: 1.6rem Archivo;
}

.input-block img {
    position: absolute;
    right: 24px;
    margin-top: 0.8rem;
    top: 2.8rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* o focus-within verifica se dentro do elemento possui o focus se sim o estilo vai para ele e não para o elemento focado.
o after signifca um elemento que vai ser inserido após */
.input-block:focus-within::after{
    width: (100% - 3.2rem);
    height: 2px;
    content: ''; /* necessário mesmo que vazio para o after e before */
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;

}