button {
    width: 20rem;
    height: 5.6rem;
    background: #DCDCE5;
    color: #9C98A6;
    border: 0;
    border-radius: 0.8rem;
    font: 700 1.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* espaçamento igual em todo o elemento */
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

button.button-success {
    color: var(--color-button-text);
    background: var(--color-secundary);
}